GYABH# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/


.DS_Store
.idea
cmd/version.go
cmd/broadcast/import.go
cmd/transfer/import.go
cmd/transfer/import_claim.go
build/bin/*
.idea/
.vscode/
debug
.circleci/all_services.sh
services/**/bin/*
cmd/nodeapi/import.go
cmd/deposit/import.go


